@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #DCDCDC;
  border-radius: 50px;
  border: 3.5px solid white;
}


.container {
  @apply mx-auto p-5 max-w-5xl;
}

.max-lines-1, .max-lines-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.max-lines-1 {
  -webkit-line-clamp: 1;
}

.max-lines-2 {
  -webkit-line-clamp: 2;
}

h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold
}

h3 {
  @apply text-xl font-medium
}

h3 + p {
  @apply mb-3
}

input, textarea {
  @apply block m-3 p-3 text-base w-full outline-none bg-gray-100 rounded-md shadow-sm shadow-gray-500
}
